body {
    margin: 0;
    font-family: 'Arial';
}

.carousel-slide {
    margin: 80px 20px 0px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 40px 40px 40px;
    display: grid !important;
    grid-template-rows: 40px 1fr;
}

.carousel-slider * {
    box-sizing: border-box;
}

.carousel-slide-body p {
    line-height: 1.7;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.carousel-slide-foot h4 {
    font-size: 16px;
    margin: 0;
    font-style: italic;
}

.carousel-slide-foot h6 {
    font-size: 18px;
    margin: 0 auto;
    font-style: italic;    
}

.carousel-slide-body {
    margin-bottom: 30px;    
}

.carousel-slider {
    margin: 0 20px;
}

.carousel-slider .slick-arrow {
    width: 30px;
    height: 30px;
    z-index: 999;
}

.carousel-slider .slick-arrow.slick-prev {
    left: 0;
}

.carousel-slider .slick-arrow.slick-next {
    right: 0;
}

.carousel-slider .slick-arrow:before {
    color: #000;
    font-size: 30px;
}

.carousel-slider .slick-dots {bottom: -45px;}

.carousel-slider .slick-dots li {
    margin: 0 5px;
    width: auto;
    height: auto;
}

.carousel-slider .slick-dots button {
    width: 10px;
    height: 10px;
    background: #d5d5d5;
    border-radius: 100%;
    margin: auto;
}

.carousel-slider .slick-dots button:before {
    display: none;
}

.carousel-slider .slick-dots li.slick-active button {
    background: #000;
}

.carousel-slide-head {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: -100px auto 30px;
    background: #000;
}

.carousel-slider img {max-width: 100%;}

.carousel-slide-head {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: -100px auto 30px;
    background: #000;
}

.carousel-slider img {max-width: 100%;}

.carousel-slide-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    align-self: end;
}

.carousel-slide-body.have-readmore {
    margin-bottom: 10px;
}

.carousel-slide-readmore {display: flex;justify-content: flex-end;}

.carousel-slide-readmore button {
    background: none;
    border: none;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}

.carousel-content{
    max-height: 100px;
    overflow: hidden;
}

.carousel-content.expand {
    max-height: fit-content;
}

@media screen and (max-width: 1024px){
    .carousel-slide-body p{
        font-size: 18px;
    }
}